body {
    font-family: "Roboto", sans-serif;
    position: fixed;
    height: 60%;
    width: 70%;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);

    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        border-radius: 25px;
    }

    #appearance {
        div {
            display: inline-block;
            width: 50%;

            button {
                background-color: transparent;
                border: none;
                cursor: pointer;
                margin: 0.5em;
            }
        }

        #dark-btns {
            text-align: right;
        }
    }

    #content {
        height: 85%;
        width: 100%;

        .card {
            border-radius: 25px;
            display: inline-block;
            height: 100%;
            width: 46%;
            vertical-align: top;
        }
        #about {
            text-align: center;

            h1 {
                font-size: 3.5em;
                margin-top: 1.5em;
            }

            a+a {
                margin-left: 2em;
            }

            h3 {
                margin-top: 2em;
            }
        }
        #updates {
            margin-left: 7%;
            overflow-x: hidden;
            overflow-y: scroll;

            h4 {
                margin: 1em 2.5em;

                small {
                    font-size: x-small;
                }
            }
            h4:first-child {
                margin-top: 2.5em;
            }
        }
    }

    #credit {
        margin-top: 1em;
        text-align: right;

        h4, h6 {
            display: inline;
        }
    }
}

@media screen and (max-width: 415px) {
    body {
        position: static;
        height: auto;
        width: 100%;
        transform: none;

        #appearance {
            margin-top: 50px;

            div, #dark-btns {
                display: block;
                width: 100%;
                text-align: center;
            }
        }
    
        #content {
            height: auto;
    
            .card {
                display: block;
                height: auto;
                width: 100%;
            }
            #about {
                margin-bottom: 75px;

                h1 {
                    margin-top: 25px;
                }
            }
            #updates {
                margin-left: 0;
                overflow: visible;
            }
        }
    
        #credit {
            display: none;
        }
    }
}