body{
  color:rgb(10, 35, 135);
  font-family:font-family:Georgia, Serif;
}

.side_space{
  max-width:80%;
  margin:0 auto;
}

header{
  background-color:rgb(81, 135, 236);
  color:white;
  width:100%;
  position:fixed;
  top:0;
  left:0;
}
header a{
  color:white;
}
header a:hover{
  color:rgb(81, 180, 236);
}

.nav_bar{
  color:white;
  background-color:rgb(81, 180, 236);
  float:right;
  text-decoration:none;
  font-size:0.5em;
  padding:0.7em;
  margin-top:3.5em;
  margin-right:0.7em;
}
.nav_bar:hover{
  color:white;
  background-color:rgb(81, 135, 236);
}

#top_space1{
  margin-top:9.5em;
}
#top_space2{
  margin-top:11.5em;
}

.flex-container{
  display:flex;
  justify-content:center;
}
.flex-box{
  flex:1;
}

h4{
  margin-bottom:0;
}
.courses{
  margin-top:0;
  font-size:0.9em;
}

footer{
  background-color:rgb(81, 180, 236);
  color:white;
  font-size:0.8em;
  text-align:right;
  padding-top:0.8em;
  padding-bottom:0.8em;
  
  position:absolute;
  bottom:0;
  width:100%; 
}

#page-container{
  position:relative;
  min-height:100vh;
}
#buffer{
  padding-bottom:5em;
}

#rounded img{
  border-radius:50%;
}

.mySlides{
  display:none;
}
.prev, .next{
  cursor: pointer;
  color:rgb(81, 135, 236);
  font-size:1.2em;
  padding:1.6em;
}