body{
  background-color:white;
  color:rgb(10, 35, 135);
  font-family:Verdana, Sans-Serif;
}
p{
  font-family:Georgia, Serif;
}
.banner{
  max-width:80%;
  margin:0 auto;
}
header{
  background-color:rgb(81, 135, 236);
  color:white;
  padding-top:15px;
  width:100%;
  position:fixed;
  top:0;
  left:0;
}
#name{
  float:left;
}
header ul{
  float:right;
  margin:40px 0 0 0;
  padding:0;
  list-style-type:none;
}
header ul li{
  margin:0;
  padding:0;
  list-style-type:none;
  display:inline-block;
}
header ul li a{
  margin:0;
  padding:10px 20px;
  display:block;
  color:white;
  font-weight:bold;
  text-transform:uppercase;
  text-decoration:none;
}
nav{
  position:fixed;
  margin-top:120px;
  width:100%;
  top:0;
  left:0;
  background-color:rgb(81, 135, 236);
}
button{
  font-family:Georgia, Serif;
  background-color:rgb(81, 180, 236);
  color:white;
  border:none;
  padding:10px;
  float:right;
}
#contents{
  margin-top:160px;
  margin-left:100px;
  margin-right:100px;
}
#education td{
  width:33%;
  padding:10px;
}
#education h4{
  margin-bottom:0;
}
.courses{
  margin-top:0;
  font-size:0.8em;
}
footer{
  background-color:rgb(81, 180, 236);
  color:white;
  font-family:Georgia, Serif;
  font-size:0.8em;
  text-align:right;
  padding:10px 0;
  margin-top:20%;
}
.block{
  background-color:white;
  float: left;
  width: 100%;
  height: 400px;
}