body{
  background-color:white;
  font-family:Verdana, Sans-Serif;
  margin:0;
}
.seriff{
  font-family:Georgia, Serif;
}
.banner{
        max-width:1200px;
        margin:0 auto;
        padding:0 30px;
}
header{
        background-color:#CFE9F0;
        color:rgb(29, 30, 34);
        padding:20px 0;
        float:left;
        width:100%;
        position:fixed;
        top:0;
        left:0;
}
h1{
        float:left;
}
ul{
        float:right;
        margin:20px 0 0 0;
        padding:0;
        list-style-type:none;
}
li{
        margin:0;
        padding:0;
        list-style-type:none;
        display:inline-block;
}
a{
        margin:0;
        padding:10px 20px;
        display:block;
        color:rgb(29, 30, 34);
        text-decoration: none;
}